.navbar {
  position: sticky;
  background: #fff;
  top: 0;
  left: 0px;
  z-index: 1000;
  box-shadow: 0 4px 7px rgba(59, 65, 94, 0.08);
  padding: 0.75rem 0;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* *======================
* List Items
*======================*/

.navbar ul.auth {
  list-style: none;
}

.navbar ul.auth > li {
  display: inline-block;
  position: relative;
  padding: 0.5rem 1.5rem;
  color: var(--primary-color);
  transition: background 0.25s ease-in;
  border-radius: 10px;
  margin-left: 0.25rem;
}

.navbar ul.auth .username {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul.auth li:hover {
  cursor: pointer;
  background: var(--secondary-color);
}

.navbar ul.auth .username svg {
  width: 24px;
  transition: all 0.2s ease-in;
}

.navbar ul.auth li.username:hover > svg {
  transform: rotate(180deg);
}

.navbar ul.auth li a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

.navbar ul.auth li ul {
  display: none;
}

.navbar ul.auth li:hover ul {
  display: block;
  position: absolute;
  background: #ffffff;
  right: 0;
  top: 100%;
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 7px rgba(59, 65, 94, 0.08);
}

.navbar ul.auth li:hover ul li {
  display: block;
  padding: 0.75rem;
  border-radius: 0;
  font-weight: 500;
}

.navbar ul.auth li:hover ul li a {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0 1rem;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
}

.navbar ul.auth li:hover ul li:hover {
  background: #edf2f7;
  color: inherit;
}
.navbar ul.auth li:hover ul li span {
  float: right;
  background: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  color: white;
}
.navbar ul.auth li:hover ul li:hover span {
  background: var(--secondary-color);
}

.navbar ul.auth li.username {
  font-weight: 700;
}

.navbar ul.auth li ul li.logout {
  padding: 1rem 2rem;
  border-top: 1px solid #cccccc83;
}
.navbar ul.auth li ul li.logout:hover {
  background: none;
}

.navbar ul.auth li ul li.logout a {
  padding: 0.5rem 1.5rem;
  background: #a11b1b21;
  color: #a11b1b;
  border-radius: 5px;
  text-transform: uppercase;
}

/* *======================
* Search Form  
*======================*/
.navbar .search-form {
  flex: 1;
  margin: 0 4rem;
  display: flex;
  position: relative;
}

.navbar .search-form input {
  width: 100%;
  padding: 0.85rem 1.5rem;
  border-radius: 25px;
  border: none;
  letter-spacing: 1.5px;
  background: #edf2f7;
  font-size: 0.9rem;
  border: 1px solid transparent;
  z-index: 3;
}
.navbar .search-form input::placeholder {
  letter-spacing: 1.2px;
  color: #acadb0;
}

.navbar .search-form input:focus {
  border: 1px solid var(--secondary-color);
  outline: none !important;
}

.navbar .search-form .spinner-container {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  --indicator-color: var(--primary-color);
}

.navbar .search-result {
  width: 100%;
  background: #edf2f7;
  position: absolute;
  top: 125%;
  border-radius: 15px;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 4px 7px rgba(59, 65, 94, 0.08);
  z-index: 2;
  overflow: hidden;
}
.navbar .search-result sl-spinner {
  --indicator-color: var(--primary-color);
  margin-right: 1rem;
}

.navbar .search-result .no-result {
  color: var(--primary-color);
  padding: 0.75rem 1rem;
}

.navbar .search-result li a {
  display: block;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #fff;
  font-weight: 500;
}
.navbar .search-result li:last-child a {
  border-bottom: none;
}
.navbar .search-result li a:hover {
  background: #e2e5e9;
}
